
@import url(//db.onlinewebfonts.com/c/fc8fac5bef9e76c97fc9b726ffbd2c22?family=DistrictProW01-Bold);
body {
    color:$primary_color;
    font-family: "district_probold" sans-serif;
    font-weight: 400;
  }

  P{
    font-family: "district_probold" sans-serif;
  }